#masheader {
    background-position: center;
    background-size: cover;
    height: auto;
    background-repeat: no-repeat;
    padding-top: 250px;
    padding-bottom: 100px;
    min-height: 100vh;

    @media (max-width: 992px) {
        padding-top: 190px;
    }

    @media (max-width: 767px) {
        padding-top: 130px;
    }

    h2 {
        color: $yellow;

        &.h-after {
            color: $white;
            text-transform: uppercase;
        }

        &.h-after:after {
            content: "";
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 25px;
            background-color: #ecaa00;
            width: 170px;
            height: 1px;
            margin-top: 20px;
        }
    }
}

#services-area {

    padding: 40px 0 60px 0;

    .col-md-4 {
        @include media-breakpoint-down(sm) {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    .services-in {
        max-width: 723px;
        margin-left: auto;
        margin-right: auto;

        .row {
            justify-content: center;
        }

        .service-item {
            margin-bottom: 20px;
            text-align: center;
            width: 250px;

            &.home-services {
                margin: 0 auto;
                margin-bottom: 20px;
            }

            @include media-breakpoint-only(md) {
                width: 60%;
                margin-left: auto;
                margin-right: auto;
            }

            img {
                margin-bottom: 20px;
            }

            .service-title {
                display: block;
                font-family: $lato-bold;
                font-size: 13px;
                line-height: 1.3;
                color: #404040;
                margin-bottom: 10px;
                text-transform: uppercase;
                @include animate-fade;
            }

            a {
                color: inherit;

                &:hover {
                    .service-title {
                        color: $yellow;
                    }
                }
            }
        }
    }
}

#testimonials {
    position: relative;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;

    h2 {
        color: #fff;
        margin-bottom: 40px;
    }

    .row {
        @include media-breakpoint-only(md) {
            display: block;
        }
        .col-md-4 {
            max-width: 100%;
        }
    }

    .testimonial-single {
        padding: 44px 40px;
        background: $white;
        margin-bottom: 20px;
        height: 100%;
        @include media-breakpoint-down(md) {
            height: auto !important;
        }

        .star-area {
            margin-bottom: 30px;

            img {
                width: 110px;
            }
        }

        .author, p {
            @include regular-text;
            font-size: 1em;
            display: block;
            text-align: center;
            color: #393F4B;
            margin-bottom: 20px;
        }
    }
}

#contact-home {
    padding: 150px 0;
    background: #000;
    color: $white;
    text-align: center;

    p {
        color: $white;
    }
    a {
        color: $white;
        text-decoration: underline;
    }
}

.quote-form-area {
    h2 {
        @include heading-font2;
        margin-bottom: 35px;
        text-align: center;
    }

    .quote-form {
        max-width: 100%;

        &-in {
            padding: 0;
            background-color: transparent;

            input[type=text], input[type=number], input[type=email], input[type=tel], textarea, .bootstrap-select .btn {
                @include media-breakpoint-up(lg) {
                    font-size: 1.125em;
                }
            }

            .wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
                text-align: right;
                border:none;
                padding:0px;
                margin:0px;
                color:$white;
                @include media-breakpoint-down(sm) {
                    text-align: center;
                }
            }

            .wpcf7-not-valid {
                border-color: red!important;
            }

            textarea {
                height: 160px;
                padding-top: 18px;
            }

            label {
                @include media-breakpoint-up(lg) {
                    font-size: 1.125em;
                }
            }

            .form-group {
                margin-bottom: 20px;

                input::-webkit-input-placeholder {
                    color: #fff;
                }

                ::-moz-placeholder {
                    color: #fff;
                }

                :-ms-input-placeholder {
                    /** notice that ie has only a single colon) */
                    color: #fff;
                }

                ::-webkit-input-placeholder {
                    color: #fff;
                }

                ::placeholder {
                    color: #fff;
                }
            }

            .control--checkbox .control__indicator, .control--radio .control__indicator {
                top: 0;
                border-radius: 50%;
                border-color: #ECAA2C !important;
                width: 27px;
                height: 27px;
                background-color: transparent;
                margin-right: 4px;
                @media (max-width: 767px) {
                    top: -5px !important;
                } 
            }
        }
    }
}




