/*.page-wrapper {
    @include bp(md) {
        padding-top: 145px;
    }
    @include bp(sm-down) {
        padding-top: 125px;
    }
}*/

.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
}

.fade {
    transition: opacity 0.15s linear;
}

.section-area {
    padding-top: 75px;
    padding-bottom: 75px;
    @include bp(desktop) {
    }
    @include bp(lg) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @include bp(md) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @include bp(sm-down) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .intro {
        text-align: center;
        padding-bottom: 30px;
        h2 {
            @include heading-font;
        }
        p {
            @include regular-text;
            margin-bottom: 20px;
        }
    }
}
#free-estimate-page {
    padding-top: 50px;
    padding-bottom: 50px;
    @include bp(sm-down) {
        .col-md-6 {
            min-width: 100%!important;
        }
    }
}
body {
	&.fixed {
		position: fixed!important;
	}
}
.show-lg {
	@include bp(sm-down) {
		display: none!important;
	}
}

.show-sm {
	@include bp(sm-up) {
		display: none!important;
	}
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
    margin-bottom: 1.5em;
}

.aligncenter, .ml-auto, .mx-auto {
    margin-left: auto!important;
}

.bootstrap-select {
    width: 100% !important;

    .btn {
        width: 100%;

        &:after {
            margin: 0;
            border: 0;
            @include font-ico;
            @include centre(y);
            content: "\e908";
            font-weight: 400;
            color: $white;
            font-size: 1.125em;
            right: 10px;
            @include animate-fade;
        }
    }

    &.open {
        .btn {
            &:after {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }

    .dropdown-item {
        padding: 0.25rem 0.5rem;
    }

    .dropdown-item.active, .dropdown-item:active {
        background-color: $yellow;
    }

    .dropdown-toggle .filter-option {
        height: auto;
    }

    .dropdown-menu {
        min-width: 100% !important;
    }
}

.zebra_tooltips_below {
    color: #000;
    text-decoration: underline;
    display: inline-block;
    margin-top: 15px;
    position: relative;
    &:hover {
        color: $yellow;
    }
}

.Zebra_Tooltip {
    z-index: 999999;
    @include bp(sm-down)  {
        width: 99%;
    }
}

.Zebra_Tooltip .Zebra_Tooltip_Message {
    font-size: 16px;
    font-family: Geneva,'Lucida Sans','Lucida Grande','Lucida Sans Unicode',Verdana,sans-serif;
    background-color: rgb(102, 102, 102);
    @include bp(md) {
        font-size: 15px;
    }
    @include bp(sm-down) {
        font-size: 14px;
    }
}

.Zebra_Tooltip .Zebra_Tooltip_Arrow.Zebra_Tooltip_Arrow_Top div {
    border-color: transparent transparent rgb(102, 102, 102)!important;
}

.Zebra_Tooltip .Zebra_Tooltip_Arrow.Zebra_Tooltip_Arrow_Bottom div {
    border-color: rgb(102, 102, 102) transparent transparent!important;
}

// Quote form

.quote-form {
    max-width: 470px;
    &-in {
        padding: 20px;
        background-color: #fefefe;
        .row {
            padding-left: 7px;
            padding-right: 7px;
            [class*="col-"] {
                padding-left: 8px;
                padding-right: 8px;
            }
            .col-md-6 {
                @include bp(sm-down) {
                    flex: 0 0 50%;
                    max-width: 50%;
                }
            }
        }
        form {
            .form-group {
                margin-bottom: 12px;
            }
            input[type=text], input[type=number], input[type=email], input[type=tel], textarea, .bootstrap-select .btn {
                @include input-style;
            }
            .control--radio {
                display: inline-block;
                letter-spacing: 0;
                font-size: 14px;
                font-family: $lato-reg!important;
            }
            .bootstrap-select .btn {
                padding-right: 30px;
                padding-top: 0;
                padding-bottom: 0;
            }
            .control--checkbox {
                margin-top: 20px;
                letter-spacing: 0;
                font-size: 14px;
                font-family: $lato-reg!important;
                display: inline-block;
                @include bp(sm-down) {
                    margin-top: 0;
                }
            }
            textarea {
                height: 80px;
            }
        }
        label {
            @include input-label;
        }
        input[type=submit] {
            @include yellow-btn;
            @include bp(sm-down) {
                width: 100%;
            }
        }
    }
}
#cookie-notice {
    background-color: rgba(0,0,0,0.8);
    z-index: 9997;
    position: fixed;
    min-width: 100%;
    height: auto;
    font-size: 13px;
    letter-spacing: 0;
    left: 0;
    text-align: center;
    font-family: $lato-reg;
    bottom: 0;
    padding: 0px 30px;
    @include bp(sm-down) {
        display: none;
    }
    &.slide-up {
        -webkit-animation-name: slideInUp;
        animation-name: slideInUp;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    &.slide-down {
        -webkit-animation-name: slideOutDown;
        animation-name: slideOutDown;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    &-in {
        padding: 15px 30px;
        @include bp(md) {
        }
        @include bp(sm-down) {
            padding: 15px 20px;
        }
    }
    .notice-text, .notice-btns {
        display: inline-block; 
    }
    p {
        color: #fff;
        font-size: 13px;
        margin-bottom: 0;
    }
    .notice-text {
        margin-bottom: 6px;
    }
    .notice-btns {
        @include bp(sm-down) {
            margin-top: 15px;
        }
        a {
            font-family: $lato-bold;
            font-size: 13px;
            letter-spacing: .25px;
            line-height: 13px;
            margin: 0;
            padding: 0;
            text-align: center;
            display: inline-block;
            cursor: pointer;
            touch-action: manipulation;
            white-space: nowrap;
            outline: 0;
            box-shadow: none;
            text-shadow: none;
            border: none;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            background: $yellow;
            color: #fff;
            padding: 5px 10px;
            margin: 0 0 0 10px;
            text-transform: uppercase;
            letter-spacing: 1px;
            &:first-of-type {
                @include bp(sm-down) {
                    margin-left: 0;
                }
            }
            &:hover {
                background-color: #707070;
                color: #ffffff;
                box-shadow: inset 0 0 0 99999px rgba(0,0,0,.05);
            }
        }
    }
    #close-notice {
        position: absolute;
        right: 15px;
        top: 50%;
        margin-top: -10px;
        width: 15px;
        height: 15px;
        opacity: .5;
        padding: 10px;
        outline: 0;
        &:before, &:after {
            position: absolute;
            content: ' ';
            height: 15px;
            width: 2px;
            top: 3px;
            background-color: #fff;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
        &:hover {
            opacity: 1;
        }
    }
}    
.modal {
    height: auto;
    top: auto;
    left: auto;
    background: #666;
    max-width: 500px;
    font-size: 14px;
    p {
        color: white;
    }
}
.toggle-modal {
    font-size: 16px;
    line-height: 1.5;
    font-family: $font-main;
    color:$yellow;
    text-decoration: underline;
    display: inline-block;
    position: relative;
    &:hover {
        text-decoration: underline;
        color:$yellow;
    }
}   

.disclaimer-modal {
    .modal {
        @media (min-width: 992px) {
            max-width: 800px;
        }
        border-radius: 0;
        padding: 0;
        min-height: auto;
    }
    .disclaimer-modal-wrap {
        width: 100%;
        height: 100%;
        padding: 30px;
        p {
            @include regular-text;
            color: #fff;
        }
    }
}



// Datepicker
.ui-datepicker {
    width:360px;
    padding:0px;
    border:none;
    .ui-datepicker-header {
        border:none;
        background:#626262;
        .ui-datepicker-prev {
            left:30px;
            top:20px;
            width: 20px;
            height: 22px;
            background:url('../img/ico/white-arrow-left.svg') no-repeat;
            background-position: center center;
            display: block;
            opacity: 1;
            background-size: contain;
            &:hover {
                cursor: pointer;
                border:none;
                opacity: 0.7;
            }
            &:focus {
                outline: 0;
            }
            span {
                display: none;
            }
        }
        .ui-datepicker-next {
            right:30px;
            top:20px;
            width: 20px;
            height: 22px;
            background:url('../img/ico/white-arrow-right.svg') no-repeat;
            background-position: center center;
            display: block;
            opacity: 1;
            background-size: contain;
            &:hover {
                cursor: pointer;
                border:none;
                opacity: 0.7;
            }
            &:focus {
                outline: 0;
            }
            span {
                display: none;
            }
        }        
        .ui-datepicker-title {
            padding-top: 12px;
            padding-bottom: 12px;
            margin:0px;
            text-transform: uppercase;
            color:$white;
            font-size: 18px;
            
        }
    }
    .ui-datepicker-calendar {
        margin:0px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        border-collapse: inherit;
        padding-bottom: 50px;
        &:after {
            content:'lower rates';
            position: absolute;
            bottom:20px;
            right:20px;
            font-family: $font-heading;
            font-size: 18px;
            background:#ecaa2c;
            color:$white;
            border-radius: 6px;
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 3px;
            padding-bottom: 3px;
        }
        thead {
            tr th{
                border-bottom: 2px solid #e5e9e5;
            }
            th {
                color:#ecaa2c;
                text-transform: uppercase;
                font-size: 17px;
            }
        }
        .ui-state-default {
            border:none;
            background:$white;
            padding:0px;
            text-align: center;
            color:#515151;
            font-size: 17px;
            padding-top: 7px;
            padding-bottom: 7px;
        }
        td.ui-state-disabled {
            opacity: 0.2;
            color:#c4c4c4;
        }
        td.ui-datepicker-other-month  {
            opacity: 0.2;
            color:#c4c4c4;
        }
        td.ui-datepicker-today {
            text-align: center;
            a {
                background:#000;
                color:#fff;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                padding:0px;
                line-height: 40px;
                display: inline-block;
            }
        }
        td.event.ui-datepicker-today {
            a {
                background:$blue;
                color:$white;
                &:after {
                    display: none;
                }
            }
        }        
        .ui-state-active {
            color:$yellow;
        }
        .event {
            // border-bottom: 7px solid #ecaa2c;
            // border-radius: 2px;
            a {
                position: relative;
                &:after {
                    width: 100%;
                    height: 5px;
                    background:#ecaa2c;
                    content:'';
                    display: block;
                    bottom:0px;
                    left:0px;
                    border-radius: 4px;
                    position: absolute;
                    left:0px;
                    bottom:-3px;
                }
            }
        }
    }
}



.page-id-4156 #services-area .services-in {
    max-width: 100%;
}
.page-id-4156 #services-area .col-md-6 {
    flex: 0 0 33%;
    width: 33%;
}
#kerb-form-container {
position: fixed;
top: 0; left: 0;
width: 100%;
height: 100vh;
background-color: rgba(0,0,0,0.6);
display: flex;
justify-content: center;
align-items: center;
z-index: 10000;
}
#kerb-form {
width: 640px;
height: 612px;
}

#kerb-form-wrapper {
position: relative;
}

#close-kerb-form {
position: absolute;
right: 15px;
top: -3px;
font-size: 32px;
color: #000;
cursor: pointer;
}

@media (max-width: 640px) {
#kerb-form-container {
  align-items: flex-start;
}
#kerb-form {
  width: 100%!important;
  height: 85vh!important;
}
#kerb-form-wrapper {
  width: 100%;
}
  .page-id-4156 #services-area .col-md-6 {
    flex: 0 0 100%;
    width: 100%;
}
}

#kerb-form-btn {
width: 250px;
padding: 0;
margin: 0 auto;
border-radius: 4px;
}


.steps {
    margin-top: 80px;
    text-align: center;
    .step-card {
        text-align: center;
        position: relative;
        span {
            width: 70px;
            height: 70px;
            background:$white;
            color:$black;
            font-family: $lato-black;
            font-size: 22px;
            position: absolute;
            top:0px;
            left:60px;
            line-height: 70px;
            border-radius: 100%;
            @include bp(md) {
                left:15px;
            }
        }
        img {
            border-radius: 100%;
            width: 250px;
            padding:5px;
            border:1px solid $yellow;
        }
        .card-text {
            padding-top: 20px;
            color:$white;
        }
        p {
            color:$white;
            text-transform: uppercase;
            font-size: 17px;
            font-family: $lato-semi;
            @include bp(md) {
                font-size: 15px;
            }
        }
    }
}
