/*===============================
=           Footer            =
===============================*/
#page-footer {
    background-color: #fafafa;
    padding-top: 55px;

    .footer-top {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .col {
        &:nth-of-type(1) {
            min-width: 33.33%;

            @include bp(lg) {
                min-width: 29%;
            }
        }

        @include bp(md) {
            min-width: 50%;
        }

        @include bp(sm-down) {
            min-width: 100%;
        }
    }

    .copyright {
        background-color: #fff;
        opacity: 0.8;
        padding: 25px 0 20px;

        p {
            margin-bottom: 0;
        }

        small {
            font-family: $lato-semi;
            font-size: 11px;
            line-height: 1.45;
            letter-spacing: 1px;
            color: #ccc;

            a {
                font-family: $lato-bold;
                color: inherit;

                &:hover {
                    color: $yellow;
                }
            }
        }
    }

    .footer-title {
        font-size: 14px;
        font-family: $lato-black;
        text-transform: uppercase;
        color: #999;
        display: block;
        margin-bottom: 15px;
        letter-spacing: 1px;
    }

    .footer-sitemap {
        margin-bottom: 30px;

        ul {
            li {
                a {
                    display: inline-block;
                    font-size: 13px;
                    line-height: 1.85;
                    font-family: $lato-reg;
                    padding: 7px 25px 7px 20px;
                    color: #999;
                    position: relative;

                    &:before {
                        @include font-ico;
                        @include animate-fade;
                        position: absolute;
                        left: 10px;
                        top: 11px;
                        font-size: 15px;
                        color: #999;
                        content: "\e907";
                        font-weight: 300;
                    }

                    &:hover {
                        color: $yellow;

                        &:before {
                            color: $yellow;
                        }
                    }
                }

                &.active {
                    a {
                        font-family: $lato-bold;
                        background-color: rgba(0,0,0,.03);
                    }
                }
            }
        }
    }

    .certifications {
        a {
            display: block;
            margin-bottom: 30px;

            img {
                image-rendering: -moz-crisp-edges;
                image-rendering: -o-crisp-edges;
                image-rendering: -webkit-optimize-contrast;
                image-rendering: crisp-edges;
                -ms-interpolation-mode: nearest-neighbor;
            }
        }
    }

    .footer-socials {
        margin-bottom: 35px;

        a {
            display: inline-block;
            margin-right: 10px;
            width: 36px;
        }
    }
}

a#go-to-top {
    background-color: #ffa500;
    color: #fff;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 3px;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: fixed;
    left: 20px;
    z-index: 9996;
    display: block;
    bottom: 22px;
    text-align: center;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
    cursor: pointer;
    visibility: hidden;
    @include bp(sm-down) {
        display: none;
    }
    i {
        color: #fff;
        font-size: 16px;
    }

    &.on {
        opacity: 1;
        visibility: visible;
    }
}


/*=======End of Footer ========*/

// Fixed CTA
#fixed-cta {
    position: fixed;
    bottom:10px;
    right:10px;
    background:#ac2801;
    border-radius: 4px;
    z-index:9999;
    animation: pulse 750ms infinite;
    @include animate-fade;
    &:hover {
        background: $yellow;
        span, small {
            color:$black;
        }
    }
    @include bp(sm-down) {
        left:0px;
        right:auto;
        bottom:0px;
        width: 100%;
        text-align: center;
    }
    a {
        padding-left: 70px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;        
        @include bp(sm-down) {
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    animation: pulse 1.5s ease infinite;
    @include bp(sm-down) {
        animation: none!important;
    }
    i {
        font-size: 20px;
        @include centre(both);
    }
    em {
        background:$orange;
        display: block;
        width: 44px;
        height: 44px;
        border-radius: 100%;
        @include centre(y);
        color:$white;
        font-size: 24px;
        left:15px;        
        @include bp(sm-down) {
            left:25px;
        }
    }
    span {
        display: block;
        text-transform: uppercase;
        color:$white;
        font-size: 26px;
        font-family:$lato-bold;
        line-height: 1.5;
    }
    small {
        font-size: 18px;
        color:$white;
        display: block;
        line-height: 1;
    }    
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }