/*===============================
=              404            =
===============================*/

#error-page {
    padding-bottom: 150px;
    text-align: center;
    margin-top: 200px;

    .not-found-title {
        font-family: $lato-bold;
        display: block;
        font-size: 1.750em;
        line-height: 1.5em;
        margin-bottom: 20px;
        text-transform: uppercase;
        color: #666666;
    }

    h1 {
        font-family: $font-main;
        font-size: 220px;
        line-height: 100%;
        display: block;
        font-weight: 300;
        padding-bottom: 20px;
        margin-bottom: 20px;
        color: #666666;

        @include bp(desktop) {
            font-size: 180px;
        }

        @include bp(lg) {
            font-size: 140px;
        }

        @include bp(md) {
            font-size: 100px;
        }

        @include bp(sm-down) {
            font-size: 80px;
        }
    }

    p {
        @include regular-text;
        color: #666666;
    }
}
