#gallery-page {
  padding-top: 50px;
  padding-bottom: 50px; }
  #gallery-page .gallery-item {
    margin: 0 1px 1px 0;
    max-width: 100%;
    float: left; }
    #gallery-page .gallery-item a {
      display: block; }
      #gallery-page .gallery-item a img {
        display: block;
        max-width: 100%;
        height: auto;
        height: 150px; }
